*.pyc
*__pycache__*
*DS_Store
medium/data/*_files
*.zip
*.ipynb_checkpoints
*time_features/data
*time_features/data_raw
*validation_results.csv*
datashader-work/datashader-examples/*
datashader-work/pyviz-examples/*

*pyviz-examples*
*geoview-examples*
*datashader-examples*

*.vscode*
