beautifulsoup4==4.6.3
bokeh==1.0.2
colorlover==0.2.1
cmocean==2.0.0
cufflinks==0.14.6
dask==1.0.0
featuretools==0.4.1
graphviz==0.10.1
h5py==2.8.0
ipdb==0.11
ipykernel==5.1.0
ipysheet==0.2.1
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.0
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.0
jupyter-repo2docker==0.7.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
matplotlib==2.2.2
nbconvert==5.4.0
nbformat==4.4.0
nose==1.3.7
notebook-5.7.8
numexpr==2.6.8
numpy==1.15.4
packaging==18.0
pandas==0.23.4
pandocfilters==1.4.2
Pillow==5.3.0
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
pyarrow==0.11.1
pymc3==3.5
pyparsing==2.3.0
pystan==2.18.0.0
pytest==3.5.0
python-dateutil==2.7.5
requests==2.20.1
scikit-learn==0.19.1
scipy==1.1.0
seaborn==0.8.1
selenium==3.141.0
SQLAlchemy==1.2.6
statsmodels==0.9.0
tqdm==4.28.1
widgetsnbextension==3.4.2
